@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #ffffff;
  --background-color: #070707;
}

body {
  background-color: var(--background-color);
  min-height: 100vh;
  color: var(--text-color);
}
